<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.inria.sop.diana.qoe.pingandroid" >

    <!-- permission required to transfer data on the Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--
        avoid to destroy Activity on device rotation:
         android:configChanges="orientation|screenSize"
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- defined services -->
        <service
            android:name=".PingService"
            android:label="@string/ping_service" >
        </service>

        <activity
            android:name=".PingsHistoryActivity"
            android:label="@string/title_activity_pings_history" >
        </activity>
        <activity
            android:name=".PingHistoryActivity"
            android:label="@string/title_activity_ping_history" >
        </activity>
    </application>

</manifest>
